<div class="auth-block">
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-content">
      <span class="card-title">Войти в систему</span>
      <div class="input-field">
        <input
          id="email"
          type="email"
          formControlName="email"
          [ngClass]="{'invalid': form.controls.email.invalid && form.controls.email.touched}">

        <label for="email">Email:</label>
        <span class="helper-text red-text" *ngIf="form.controls.email.invalid && form.controls.email.touched">
          <span *ngIf="form.controls.email.errors?.required">Email не должен быть пустым</span>
          <span *ngIf="form.controls.email.errors?.email">Введите корректный email</span>
        </span>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          formControlName="password"
          [ngClass]="{'invalid': form.controls.password.invalid && form.controls.password.touched}">

        <label for="password">Пароль:</label>
        <span class="helper-text red-text"
              *ngIf="form.controls.password.invalid && form.controls.password.touched">
          <span *ngIf="form.controls.password.errors?.required">Пароль не должен быть пустым</span>
          <span
            *ngIf="form.controls.password.errors?.minlength && form.controls.password.errors?.minlength">
            Пароль должен быть больше {{form.controls.password.errors?.minlength}} символов.
            Сейчас {{form.controls.password.errors?.minlength}}
          </span>
        </span>
      </div>
    </div>
    <div class="card-action">
      <button
        class="modal-action btn waves-effect"
        type="submit"
        [disabled]="form.invalid || form.disabled"
        (click)="onSubmit()">

        Войти
      </button>
    </div>
  </form>
</div>
